
@{
    ViewBag.Title = "Kein Administrator";
}

<br />
<div class="alert alert-danger text-center">
    <h2>
        <span class="glyphicon glyphicon-ban-circle"></span>
        Es sind Administratorrechte nötig um diesen Bereich einzusehen.
    </h2>
</div>

