
@{
    ViewBag.Title = "Kein Administrator";
}

<br />
<div class="alert alert-danger text-center">
    <h2>
        <span class="glyphicon glyphicon-ban-circle"></span>
        Ihr Zugang wurde gesperrt. Wenden sie sich an ihren Administrator.
    </h2>
</div>
