@{
    ViewBag.Title = "Hilfe";
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Videoanleitungen</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oUncWI4bwkU" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wv3VS8R-KxA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Legende</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="panel-default">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tr>
                                <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-euro"></span></a></td>
                                <td class="col-md-11">Aufteilung auf Kostenstellen</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-remove"></span></a></td>
                                <td class="col-md-11">Vertrag / Kostenstelle / Benutzer löschen</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                                <td class="col-md-11">Weitere Vertragsmerkmale</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-search"></span></a></td>
                                <td class="col-md-11">Detailansicht eines Vertrages öffnen</td>
                            </tr>
                            <tr>
                                <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                <td class="col-md-11">Zusätzliche Nutzer berechtigen einen Vertrag zu sehen</td>
                            </tr>
                            <tr class="highlight">
                                <td class="col-md-1"></td>
                                <td class="col-md-11">Dieser Vertrag wurde vom System eskaliert</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-default">
                    <table class="table table-borderless">
                        <tr>
                            <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-book"></span></a></td>
                            <td class="col-md-11">Einem Rahmenvertrag untergeordnete Verträge zuordnen</td>
                        </tr>
                        <tr>
                            <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-file"></span></a></td>
                            <td class="col-md-11">Dateien zum Vertrag ansehen</td>
                        </tr>
                        <tr>
                            <td class="col-md-1"><a class="btn btn-primary nocursor"><span class="glyphicon glyphicon-user"></span></a></td>
                            <td class="col-md-11">Dispatcher /Koordinator hinzufügen</td>
                        </tr>
                        <tr>
                            <td class="col-md-1"><a class="btn btn-warning nocursor"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="col-md-11">Vertrag / Kostenstelle / Abteilung/ Benutzer bearbeiten</td>
                        </tr>
                        <tr>
                            <td class="col-md-1"><a class="btn btn-danger nocursor"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td class="col-md-11">Vertrag / Kostenstelle / Abteilung/ Benutzer löschen</td>
                        </tr>
                        <tr class="incomplete">
                            <td class="col-md-1"></td>
                            <td class="col-md-11">Dieser Vertrag ist noch unvollständig</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>