@{
    ViewBag.Title = "Import aus CSV Datei";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<div class="panel panel-default col-md-7 col-lg-offset-2">
    <div class="panel-heading">
        <h2>Verträge importieren</h2>
        <label>Wählen Sie eine CSV Datei aus, die die zu importierenden Verträge enthält</label>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <input id="selectFile" type="file" name="path" />
            </div>
                <a href="#" onclick="history.back(); return false">Zurück</a>
                <button class="btn btn-primary" type="submit" name="import">Daten importieren</button>
            </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
