@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Import fehlgeschlagen";
}

<br />
<div class="alert alert-danger text-center">
    <h2>
        <span class="glyphicon glyphicon-alert"></span>
        Beim Import der Daten ist ein Fehler aufgetreten.
        Möglicherweise ist die Datei gerade in einem anderen Programm geöffnet oder beschädigt.
    </h2>
</div>
