
@{
    ViewBag.Title = "Nicht berechtigt";
}

<br />
<div class="alert alert-danger text-center">
    <h2>
        <span class="glyphicon glyphicon-ban-circle"></span>
        Sie haben nicht die erforderlichen Rechte um diese Aktion durchzuführen.
    </h2>
</div>
